.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;
    padding: 15px 10px;
    font-weight: 600;
    background: #333;
    color: #fff;
    margin-bottom: 0;
}

/*print landscape*/
@media print {
    @page {
        size: A4 landscape;
        margin: 0;
        font-size: 8pt;
    }
    .header {
        font-size: 0.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #333;
        padding: 10px 7px;
    }
    .item * {
        font-size: 6.5pt;
    }
}
.content > div, .content > p {
    margin-bottom: 1px
}
.content > div:last-child {
    margin-bottom: 0;
}

.item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 0.7rem;
    --ifm-global-shadow-lw: None;
}
.item .theme-code-block {
    margin-bottom: 0;
}

.item:hover {
    font-size: 0.8rem;
}

.item + .item {
    margin-top: 1rem;
}
  
.item {
    break-inside: avoid;
}
  
.item::before {
    counter-increment: grid;
}