.header {
    text-transform: uppercase;
    text-align: left;
    font-size: 0.8rem;
    padding: 15px 10px;
    font-weight: 600;
    background: #333;
    color: #fff;
    margin-bottom: 0;
}

/*print landscape*/
@media print {
    @page {
        margin: 0;
        /* size: hd; */
        size: A3;
    }
    .header {
        font-size: 0.7rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        color: #333;
        padding: 10px 7px;
    }
    
}

.content > div, .content > p {
    margin-bottom: 1px
}
.content > div:last-child {
    margin-bottom: 0;
}
.content  table {
    display: table;
    width: 100%;
}

.content p, .content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    padding-left: 10px;
    padding-right: 10px;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-weight: 400;
    margin-bottom: 5px;
}


.item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 0.74rem;
    --ifm-global-shadow-lw: None;
}
.item .theme-code-block {
    margin-bottom: 0;
}

.item code {
    padding-top: 3px;
    padding-bottom: 3px;
}

.item + .item {
    margin-top: 1rem;
}

.item ul {
    margin-bottom: 3px;
}

.item .katex .frac-line {
    border-bottom-width: 0.01em !important;
}
  
.item {
    break-inside: avoid;
}
  
.item::before {
    counter-increment: grid;
}